h1{
    color:lightcoral;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color:lightcoral;
    font-family: 'Courier New', Courier, monospace;
}

body{
    justify-self: center;
    color:darkorange;
    font-family: "Comic Sans", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cards {
justify-content: space-between;
 display:flex;
}

div {   
   width:33%;
   font-style:normal;
   }
body{
    background-color: darkgreen;
}
div p{
    color:whitesmoke;
}
